<div class="px-3 py-2 bg-dark text-white header">
  <div class="container">
    <header class="d-flex flex-wrap justify-content-center">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none">
        <!-- <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg> -->
        <img class="bi me-5" height="60" src="../../../assets/MyLogo.png" alt="Logo">
      </a>
      <ul class="nav nav-pills" style="padding-top:10px">
        <li class="nav-item" *ngFor="let tab of navTabs">
          <button class="nav-link" (click)="linkClicked(tab.routerPath)" [ngClass]="{'active': tab.isActive}" >
            {{tab.displayName}}
          </button>
        </li>
      </ul>
    </header>
  </div>
</div>
