<div class="main">
  <div class="name">
    <div class="cont">
      <h1 class="id"><span class="hash">#</span>Avnish_Anand&nbsp;<span class="hash">&#123;</span></h1>
      <p class="abt">
        /*&nbsp;*<br>
        Lorem ipsum dolor sit amet. Ut enim velit et cumque voluptatem sit facilis ipsum sit dolores voluptatibus ut molestiae dicta hic obcaecati natus. Non sunt libero sit sunt dolor minus sunt est nobis reprehenderit. Qui voluptas corrupti quo ullam galisum ad galisum excepturi et similique sapiente est numquam eaque.
        Et optio sunt qui nihil quos qui officiis ullam est minus iure rem ullam obcaecati ea consequatur fugiat qui excepturi doloremque. Ut perferendis animi eum doloribus excepturi nam labore recusandae sit repellendus minima aut unde provident et fugit sunt. Et iusto deserunt eum blanditiis numquam sed molestiae numquam!
        <br>*/
      </p>
      <span class="attributes">hobbies&nbsp;:&nbsp;</span>Graphic_Designing&emsp;Sketching;<br>
      <h1 class="id"><span class="hash">&#125;</span></h1>
    </div>
    <div class="img">

    </div>
  </div>
  <div class="role">
    <h2 class="class"><span class="hash">.</span>full_stack_web_developer&nbsp;<span class="hash">&#123;</span></h2>
    <h2 class="class"><span class="hash">&#125;</span></h2>
  </div>

</div>
